
body{
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #434455;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

address{
    font-style: normal;
}

/*--------------HEADER--------------- */

.header {}

.header-nav {}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo .accent {
    color: #2e2f42;
}

.header-menu-list {}

.header-menu-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.header-menu-link {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
    color: #2e2f42;
}

.header-menu-link:hover{
    color: #404bbf;
}

.header-menu-link:focus {
    color: #404bbf;
}



.header-contacts {}

.header-contacts-list {}

.header-contacts-item {
   
}


.header-contacts-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.header-contacts-link:hover{
    color: #404bbf;
}
.header-contacts-link:focus {
    color: #404bbf;
}

/*------------------------------------ */
/*--------------HERO--------------- */

.hero {
    background-color: #2e2f42;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;}

.hero-btn {
    background-color: #4D5AE5;
    cursor:pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
   
    }
.hero-btn :hover{
    background-color: #404BBF;
}
.hero-btn :focus{
    background-color: #404BBF;
}
/*------------------------------------ */
/*-----------------ADVANTAGES------------------- */

.advantages {}

.advantages-title{
    text-transform: capitalize;
}

 


.advantages-list {
    background-color: #FFFFFF;
}


.advantages-list-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;}


.advantages-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.advantages-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;}

/*------------------------------------ */
/*-----------------OUR TEAM------------------- */
.team {
    background-color: #f4f4fd;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.team-list {}

.team-member {
    background-color: #FFFFFF;
}

.team-member-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
   
}

.team-member-profession {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;}

/*------------------------------------ */
/*-----------------OUR PORTFOLIO------------------- */

.portfolio {}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.portfolio-list {}

.portfolio-list-item {}

.portfolio-item-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;}

.portfolio-item-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;}

/*------------------------------------ */
/*-----------------FOOTER------------------- */

.footer {
    background-color: #2e2f42;
}

.footer-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;}

.footer-link .accent {
    color: #f4f4fd;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd
}
/*------------------------------------ */